H1 { color: red}
/*H1 = seletor
	color = atributo
		red = valor
		*/
H1, H2 {COLOR: RED;font-size: 10PX}
/* ESTE COMANDO COLOCA AMBAS AS TAGS (H1 E H2) NA COR VERMELHA E COM TAMANHO DE FONTE 10 AO MESMO TEMPO*/
P B {COLOR:BLUE}
/* COM ESTE COMANDO, SOMENTE O B QUE ESTÁ NESTE CASO DENTRO DA TAG P FICA NA COR AZUL*/
P.AVISO{COLOR: ORANGE}
/* NESTE CASO ELE SO VAI COLORAR EM COR LARANJA OS QUE ESTÃO NOMEADOS EM QUALQUER CLASS QUE CONTER .AVISO*/
#A1 {COLOR: GREEN}
/* ID É UM COMANDO DE IDENTIFICADOR ÚNICO*/
P:FIRST-LETTER {font-size: 200%}
/* COLOCA A PRIMEIRA LETRA DAS TAGS P COM O TAMANHO EM 200% E NA COR CINZA*/
DIV:FIRST-LINE {color: GREY}
/* COLOCA A PRIMEIRA LINHA QUE ESTÁ DENTRO DA TAG DIV NA COR CINZA*/
BODY {color: PINK}
/*USANDO ESSE ITEM FICARA COR DE ROSA. ESSA REGRA VAI SE APLICAR A TODAS AS OUTRAS TAGS QUE ESTÃO DENTRO DA TAG BODY. ISSO CHAMAMOS DE HERANÇA.
ISSO SÓ NÃO SE APLICA NO CASO DOS AVISOS, QUE UTILIZAM OUTRA REGRA COM UMA MAIOR IMPORTANCIA.*/
DIV.UM{font-style: ITALIC; /*ITÁLICO*/
		font-weight: BOLD; /*NEGRITO*/
			font-size: 14 PX; /*FONTE TAMANHO 14*/
				font-family: ARIAL, TIMES;} /*TIPO DA FONTE, COLOCANDO SEMPRE A PRIMEIRA OPÇÃO COMO PRINCIPAL, CASO NÃO A ENCONTRE ELA USA A SEGUNDA OPÇÃO, E AI POR DIANTE*/

DIV.DOIS{text-align: LEFT; /*ITÁLICO*/
			text-decoration: underline; /*SUBLINHADO*/
				text-indent: 5 PX; /*IDENTAÇÃO DE 5 PIXELS*/
					text-transform: uppercase;} /*TRANSFORMA TUDO PARA MAIUSCULA*/


